{% extends '_base.html' %}
{% block content %}
<div class="h-screen mx-auto pt-36 grid">
    <img src="" alt="">
    <div>
        <h2>Formulaire véhicule | Nouveau</h2>
        <form action="{% url 'NewCarSubmit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in formulaire%}
            <div class="field">
                <span class="label">{{f.label}}</span>
                <span class="input">{{f}}</span>
            </div>
            {% endfor %}
            <input type="submit" class="w-full leading-tight shadow-lg bg-primary rounded-full text-[2rem]" value="Ajouter">
        </form>
    </div>
</div>
{% endblock %}