{% extends '_base.html' %}
{% block content %}
<div class="main">
    <img src="" alt="">
    <div class="formulaire">
        <h2>Formulaire véhicule | Nouveau</h2>
        <form action="{% url 'NewCarSubmit' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for f in formulaire%}
            <div class="field">{{f.label}}:{{f}}</div>
            {% endfor %}
            <input type="submit" value="Ajouter">
        </form>
    </div>
</div>
{% endblock %}