{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Tigers Booking | {{title}}</title>

</head>

<body>
    {% include '_navbar.html' %}
    <div class="flex flex-row absolute h-screen px-[16%] pt-[7%]">
        {% block content %}
        {% endblock %}
    </div>
    <div>
        <p>Ici le footer</p>
    </div>
    <script defer src="/jstools/node_modules/tw-elements/dist/js/tw-elements.umd.min.js" type="text/javascript">
    </script>
    <script defer src="/jstools/index.js"></script>
</body>

</html>