{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Tigers Booking | {{title}}</title>
   
</head>

<body>
    <div class="head">
        <a class="logo" href="/">
            <img src="{% static "images/76665-457-1641395215_db5fe75d0a7dc3b29bb8e4ff5589b24b.jpeg" %}" width="120px" height="120px" alt="logo">
            <h2>Tigers Booking</h2>
        </a>
        <input type="search" name="" id="">
        <nav>
            <a href="/cars">Véhicules</a>
            <a href="/hotels">Hotels</a>
            <a href="/hotels">Vols</a>
            <a href="/hotels" style="background-color:orange;margin-top:-5px;padding:5px;border-radius:10px;display:none;">Reserver</a>
        </nav>
        <a href="/connexion/login">
                <button>Connexion</button>
                <button style="background-color: skyblue;">Deconnexion</button>
        </a>
    </div>
    {% block content %}
    {% endblock %}
    <div>
        <p>Ici le footer</p>
    </div>
    <script>
        const conn = document.querySelector('button:nth-child(1)')
        const dec = document.querySelector('button:nth-child(2)')
        const jwt = localStorage.getItem("jwt")
        if(jwt){
            conn.style.display = 'none'
            document.querySelector('nav>a:nth-child(4)').style.display = 'inline'
        }else {
            dec.style.display = 'none'
        }

        dec.addEventListener("click",()=>{
            localStorage.removeItem("jwt")
        })
    </script>
</body>

</html>