{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>HomePage</title>
</head>
<body>
    <div class="main">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam natus ut harum, sed voluptate id enim dolor tempore quibusdam dignissimos modi nisi alias quidem sit? Reiciendis, doloremque? Reiciendis, officia ipsam.
    </div>
</body>
</html>