{% extends '_base.html' %}
{% block content %}
    {% for hotel in hotels %}
        <div class="hotel">
            <img src="{{hotel.5}}" width="200px" alt="photo du véhicule">
            <div>Marque: {{hotel.1}} </div>
            <div>Modèle: {{hotel.2}} </div>
            <div>Année: {{hotel.3}} </div>
            <div>Prix_journée: {{hotel.4}}</div>
            {% comment %} <div>Prix_journée: {{car.4}}</div> {% endcomment %}
            {% comment %} {% if request.session.user.7 == 'admin' %}
                <span>
                    <a href="/cars/{{car.0}}/delete">Supprimer</a>
                    <a href="/cars/{{car.0}}/edit">Modifier</a>
                </span>
            {% else %}
            <!-- Utiliser le middlewares d'authentification pour forcer l'utilisateur à se connecter avant de reserver -->
                    <a href="/cars/{{car.0}}/reserver">Ajouter à la réservation</a>
            {% endif %} {% endcomment %}
        </div car>
    {% endfor %}
{% endblock %}